@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    z-index: -1;
}

/* Styles for login and sign-up pages */
body.login-page {
    background-image: none; /* Remove the background image for login and sign-up pages */
    /* Add any other specific styles for login and sign-up pages here */
}

#email, #name {
    padding-left: 10px;
}

#password {
    padding-left: 10px;

    position: relative;
    z-index: 1;
}

/* Responsive Classes */
@media (min-width: 640px) {
    #email, #name {
        padding-left: 20px;
    }
    
    #password {
        padding-left: 20px;
    }
}

/* Add more media queries and responsive styles as needed */
